//FONT
$default-font-size: 1.6rem;

@font-face {
    font-family: Ebrima;
    src: url("./public/fonts/frontend_fonts/ebrima.ttf");
}
@font-face {
    font-family: Futura;
    src: url("./public/fonts/frontend_fonts/futura-normal.ttf");
}

$font-comfortaa: "Comfortaa", cursive;

//COLORS
$color-white: #fff;
$color-black: #000;

$color-gray: #afafaf;
$color-gray2: #c6c6c6;
$color-gray3: #b5b5b5;
$color-gray4: #585858;
$color-gray5: #969696;

$color-blue: #5499c4;
$color-blue2: #9eb5d3;
$color-blue3: #c8dee3;
$color-blue4: #6a7a8e;
$color-blue5: #aacce2;

$color-yellow: #d7d8bc;

$color-html: #ffc9c9;
$color-sass: #f9c9ff;
$color-css: #c9e6ff;
$color-js: #fff9c9;
$color-react: #c9d8ff;

$color-orange: #f79902;
$color-mov: #ec07ff;
$color-blue6: #0084d6;
$color-blue7: #00baff;
$color-yellow2: #ffeb00;
