#footer {
    width: 84%;
    margin: auto;
    display: flex;
    // justify-content: center;
    align-items: center;

    .arrow-container {
        flex: 0.5;
        flex-basis: 10rem;
        display: flex;
        align-items: center;
        .arrow-r {
            height: 5rem;
            width: 5rem;
            border: 0.1rem solid $color-gray2;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            cursor: pointer;
        }
        .arrow-text {
            text-decoration: none;
            font-family: $font-comfortaa;
            font-size: 1.3rem;
            color: $color-gray5;
            position: relative;
            padding-bottom: 0.1rem;
            &::after {
                content: "";
                height: 0.1rem;
                width: 7.8rem;
                background: $color-gray2;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    .main-links {
        flex: 2;
        flex-basis: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        padding-top: 1rem;
        .footer-link {
            color: $color-gray2;
            padding: 0rem 2rem;
            font-family: $font-comfortaa;
            font-size: 1.3rem;
            transition: color 0.3s ease;
            padding-bottom: 1rem;
            &:hover {
                color: $color-blue;
            }
        }
        .footer-link-active {
            position: relative;
            color: $color-blue;
            &::after {
                content: "";
                height: 0.5rem;
                width: 0.5rem;
                background: $color-blue;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
    .right-links {
        flex: 0.5;
        flex-basis: 10rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .footer-link-right {
            padding: 0 1rem;
            font-family: $font-comfortaa;
            font-size: 1rem;
            color: $color-gray2;
            transition: color 0.3s ease;
            &:hover {
                color: $color-blue;
            }
        }
    }
}
