.nav-login {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    font-size: 1.2rem;
    a {
        padding: 0rem 1rem;
        color: $color-gray;
        transition: color 0.3s ease;
        &:hover {
            color: $color-blue;
        }
    }
    a.active {
        color: $color-blue;
    }
    .nav-icon {
        color: $color-blue;
    }
}
