/* Cand pui steluta ' * ' se aplica la tot ce este in html */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Marimea scrisului in general pe site (ca default/) */

/* Mai defineste si cat inseamna 1rem ex: 10px = 1rem */

html {
  font-size: 62.5%;
}

body {
  font-family: "Comfortaa", cursive;
  width: 95%;
  height: 100vh;
  margin: auto;
}

#app {
  min-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.spacer {
  margin: 4rem 0;
}

@font-face {
  font-family: Ebrima;
  src: url(/fonts/ebrima.ttf?1ba82d324736a8a9d4327d482c4627c4);
}

@font-face {
  font-family: Futura;
  src: url(/fonts/futura-normal.ttf?57d0fb4aa6be0d2c3c9a292ec605cd64);
}

#footer {
  width: 84%;
  margin: auto;
  display: flex;
  align-items: center;
}

#footer .arrow-container {
  flex: 0.5;
  flex-basis: 10rem;
  display: flex;
  align-items: center;
}

#footer .arrow-container .arrow-r {
  height: 5rem;
  width: 5rem;
  border: 0.1rem solid #c6c6c6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

#footer .arrow-container .arrow-text {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-size: 1.3rem;
  color: #969696;
  position: relative;
  padding-bottom: 0.1rem;
}

#footer .arrow-container .arrow-text::after {
  content: "";
  height: 0.1rem;
  width: 7.8rem;
  background: #c6c6c6;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer .main-links {
  flex: 2;
  flex-basis: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding-top: 1rem;
}

#footer .main-links .footer-link {
  color: #c6c6c6;
  padding: 0rem 2rem;
  font-family: "Comfortaa", cursive;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  padding-bottom: 1rem;
}

#footer .main-links .footer-link:hover {
  color: #5499c4;
}

#footer .main-links .footer-link-active {
  position: relative;
  color: #5499c4;
}

#footer .main-links .footer-link-active::after {
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background: #5499c4;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

#footer .right-links {
  flex: 0.5;
  flex-basis: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer .right-links .footer-link-right {
  padding: 0 1rem;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  color: #c6c6c6;
  transition: color 0.3s ease;
}

#footer .right-links .footer-link-right:hover {
  color: #5499c4;
}

.nav-login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.nav-login a {
  padding: 0rem 1rem;
  color: #afafaf;
  transition: color 0.3s ease;
}

.nav-login a:hover {
  color: #5499c4;
}

.nav-login a.active {
  color: #5499c4;
}

.nav-login .nav-icon {
  color: #5499c4;
}

.logo {
  height: 11vh;
  padding: 1rem 0rem;
  position: relative;
  display: flex;
}

.logo .romb-left-border {
  height: 5.3rem;
  width: 5.3rem;
  border: 0.1rem solid #5499c4;
  border-radius: 1.4rem;
  padding: 0.2rem;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 19%;
  left: 1%;
  -webkit-filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

.logo .romb-left {
  height: 4.5rem;
  width: 4.5rem;
  background: #5499c4;
  border-radius: 1.1rem;
  -webkit-filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

.logo .logo-text1 {
  font-size: 2rem;
  color: #afafaf;
  position: absolute;
  top: 39%;
  left: 5%;
  -webkit-filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

.logo .logo-text2 {
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  top: 22%;
  left: 2.2%;
  z-index: 20;
  -webkit-filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
}

.logo .logo-text3 {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 37%;
  left: 1.7%;
  -webkit-filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
}

.logo .logo-text4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 10.9%;
  z-index: 21;
  -webkit-filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
}

.logo .line-l {
  height: 4.3rem;
  width: 0.1rem;
  background: #fff;
  position: absolute;
  top: 39%;
  left: 2%;
  transform: rotate(-45deg);
  z-index: 10;
}

.logo .line-r {
  height: 4.3rem;
  width: 0.1rem;
  background: #fff;
  position: absolute;
  top: 39%;
  left: 3.5%;
  transform: rotate(45deg);
  z-index: 10;
}

.logo .romb-right1 {
  height: 1.3rem;
  width: 1.3rem;
  background: #5499c4;
  border-radius: 0.3rem;
  transform: rotate(15deg);
  position: absolute;
  left: 10.6%;
  top: 20%;
}

.logo .romb-right2 {
  height: 1.3rem;
  width: 1.3rem;
  background: #5499c4;
  border-radius: 0.3rem;
  transform: rotate(15deg);
  position: absolute;
  left: 11.4%;
  top: 35.6%;
}

.logo .romb-right3 {
  height: 0.8rem;
  width: 0.8rem;
  background: #5499c4;
  border-radius: 0.2rem;
  transform: rotate(15deg);
  position: absolute;
  left: 10.7%;
  top: 38%;
}

.logo .romb-right4 {
  height: 0.9rem;
  width: 0.9rem;
  background: #5499c4;
  border-radius: 0.2rem;
  transform: rotate(15deg);
  position: absolute;
  left: 11.6%;
  top: 23.4%;
}

#homeLayout {
  width: 100%;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.nav-left {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 1rem 2rem;
  flex-basis: 10rem;
  width: 4vw;
}

.nav-left .nav-links-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  padding-top: 8rem;
}

.nav-left .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Ebrima;
}

.nav-left .nav-links span {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #969696;
}

.nav-left .nav-links .left-line {
  width: 0.3rem;
  height: 0rem;
  background: #5499c4;
  border-radius: 2rem;
}

.nav-left .nav-links p {
  font-size: 1.5rem;
  padding-left: 0.3rem;
  color: #5499c4;
}

.nav-left .dot {
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  background: #c6c6c6;
  margin: 1rem 0rem 0rem 1.3rem;
}

.nav-left .next-arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

.nav-left .next-arrow .next-text {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  align-items: center;
  font-weight: 600;
}

.nav-left .next-arrow .next-text a {
  padding: 0rem;
  transform: rotate(-90deg);
  color: #5499c4;
  font-family: "Comfortaa", cursive;
}

.nav-left .next-arrow .arrow-down {
  cursor: pointer;
}

.nav-left .next-arrow .arrow-down img {
  transform: rotate(-180deg);
  margin-left: 0.8rem;
}

.mainContent {
  flex: 2;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}

.mainContent .heading {
  padding-top: 7rem;
  padding-left: 5rem;
}

.mainContent .heading .title {
  font-size: 9rem;
  font-family: Futura;
  font-weight: 500;
  color: #afafaf;
}

.mainContent .heading .description-container {
  margin-top: 2rem;
  margin-left: 12.5rem;
}

.mainContent .heading .description-container .subHeading {
  font-size: 2.6rem;
  font-family: "Comfortaa", cursive;
  color: #5499c4;
}

.mainContent .heading .description-container .line {
  width: 3rem;
  height: 0.1rem;
  background: #c6c6c6;
  margin: 1rem 0rem 1.9rem 0rem;
}

.mainContent .heading .description-container .description {
  font-size: 1.4rem;
  width: 85%;
  color: #b5b5b5;
  line-height: 1.8rem;
}

.mainContent .images {
  position: relative;
  width: 100%;
  top: 56%;
  transform: translate(-50%, -50%);
  left: 34%;
}

.mainContent .images .img-wrapper {
  width: 35rem;
  height: 10.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/site1.jpg?23933edbba42b9325e68380914dc0222);
  background-repeat: no-repeat;
  background-position: 50% 3%;
  background-size: 120%;
  border-radius: 2rem;
  transform: rotate(-30deg);
  position: absolute;
  left: 15%;
  top: 5%;
  z-index: 10;
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.7);
}

.mainContent .images .img-wrapper2 {
  margin-top: 4rem;
  width: 35rem;
  height: 10.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url(/images/dashboard.jpg?bb4be50d23f75c554866aac0638c0429);
  background-repeat: no-repeat;
  background-position: 65% 43%;
  background-size: 100%;
  border-radius: 2rem;
  transform: rotate(-30deg);
  position: absolute;
  top: 23%;
  left: 21%;
  z-index: 15;
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.7);
}

.mainContent .images .img-wrapper3 {
  margin-top: 4rem;
  width: 35rem;
  height: 10.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/images/apps.png?5710f70c1d9542f9eefa35ddc4f4261d);
  background-repeat: no-repeat;
  background-position: 50% 21%;
  background-size: 100%;
  border-radius: 2rem;
  transform: rotate(-30deg);
  position: absolute;
  top: 49%;
  left: 27%;
  z-index: 20;
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.7);
}

.mainContent .images .square-bg {
  height: 42rem;
  width: 20rem;
  border: 0.2rem solid #5499c4;
  border-radius: 2rem;
  position: absolute;
  left: 32%;
  top: -1%;
  z-index: 1;
  transform: rotate(-30deg);
}

.social {
  flex-basis: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 20;
}

.social a {
  text-decoration: none;
  color: #5499c4;
  font-size: 1.6rem;
  padding: 1rem 0rem;
  transition: color 0.4s ease;
}

.social a svg {
  cursor: pointer;
}

.social a:hover {
  color: #7ab0d1;
  transform: scale(1.1);
}

.website-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-website-section {
  padding-top: 13rem;
  height: 84vh;
}

.nav-links-wrapper2 {
  flex: 1;
  position: relative;
  top: 2%;
}

.nav-links2 {
  position: absolute;
  top: 52%;
  left: -6%;
}

.nr-span {
  padding-right: 0.3rem;
  position: absolute;
  left: -6%;
}

.left-line2 {
  width: 0.3rem;
  height: 0rem;
  background: #5499c4;
  border-radius: 2rem;
  position: absolute;
  left: 11.5%;
}

.dot1 {
  position: absolute;
  top: 42%;
  z-index: 10;
}

.dot2 {
  position: absolute;
  top: 61%;
  z-index: 15;
}

.dot3 {
  position: absolute;
  top: 65%;
  z-index: 20;
}

.dot4 {
  position: absolute;
  top: 69%;
  z-index: 25;
}

.next-arrow-top {
  margin-top: -5rem;
  flex: 1;
}

.next-arrow-bottom {
  flex: 1;
  margin-top: 10rem;
  justify-content: flex-end;
}

.next-arrow2 {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.next-arrow2 .back-text {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  align-items: center;
  font-weight: 400;
}

.next-arrow2 .back-text a {
  cursor: pointer;
  padding: 1.5rem 0rem;
  transform: rotate(-90deg);
  color: #5499c4;
  font-family: "Comfortaa", cursive;
}

.next-arrow2 .next-text {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  align-items: center;
}

.next-arrow2 .next-text a {
  padding: 0rem;
  transform: rotate(-90deg);
  color: #5499c4;
  font-family: "Comfortaa", cursive;
}

.next-arrow2 .arrow-up a img {
  transform: rotate(0deg);
  margin-left: 0.9rem;
}

.next-arrow2 .arrow-down a img {
  transform: rotate(-180deg);
  margin-left: 0.8rem;
}

.heading-website-section {
  position: relative;
  margin-top: 2rem;
}

.link-name {
  margin-left: 2.5rem;
  width: 12rem;
  font-size: 1.6rem;
  color: #5499c4;
}

.page-nr {
  position: absolute;
  top: -28%;
}

.page-nr h2 {
  font-size: 10rem;
  font-weight: 400;
  color: #aacce2;
}

.website-stucture {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 34%;
}

.website-stucture .structure-title {
  position: absolute;
  top: -7%;
  right: 10%;
  font-size: 2rem;
  color: #afafaf;
}

.website-stucture .body-tag {
  color: #aacce2;
  position: absolute;
  top: -5.5%;
  left: 19.5%;
}

.website-stucture .header-tag {
  color: #aacce2;
  position: absolute;
  top: 1.5%;
  left: 14.5%;
}

.website-stucture .main-tag {
  color: #aacce2;
  position: absolute;
  top: 24.5%;
  left: 14.5%;
}

.website-stucture .footer-tag {
  color: #aacce2;
  position: absolute;
  bottom: 25.5%;
  left: 14.2%;
}

.website-stucture .top-line {
  width: 47rem;
  height: 26rem;
  position: absolute;
  right: 10%;
  top: -2%;
  border-top: dashed 0.2rem #aacce2;
  border-right: dashed 0.2rem #aacce2;
}

.website-stucture .middle-line {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 5%;
  left: 14.7%;
  border-top: dashed 0.2rem #aacce2;
  border-left: dashed 0.2rem #aacce2;
}

.website-stucture .middle-line2 {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 28%;
  left: 14.7%;
  border-top: dashed 0.2rem #aacce2;
  border-left: dashed 0.2rem #aacce2;
}

.website-stucture .bottom-line {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 58%;
  left: 14.7%;
  border-left: dashed 0.2rem #aacce2;
  border-bottom: dashed 0.2rem #aacce2;
}

.website-stucture .rectangles-structure {
  position: absolute;
  top: 0;
  right: 15%;
}

.website-stucture .rectangles-structure .nav-rectangle {
  width: 40rem;
  height: 5rem;
  background: #9eb5d3;
  border-radius: 2rem;
  padding: 0.5rem;
}

.website-stucture .rectangles-structure .dash-rectangle {
  width: 100%;
  height: 100%;
  border: dashed 0.2rem #afafaf;
  border-radius: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-stucture .rectangles-structure .dash-rectangle h3 {
  color: #fff;
  font-size: 1.3rem;
  font-family: "Comfortaa", cursive;
}

.website-stucture .rectangles-structure .dash-rect-white {
  border: dashed 0.2rem #fff;
}

.website-stucture .rectangles-structure .middle-content {
  height: 26rem;
  width: 40rem;
  display: flex;
  padding: 1rem 0rem;
}

.website-stucture .rectangles-structure .middle-content .aside-rectangle {
  width: 10rem;
  height: 100%;
  background: #d7d8bc;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.website-stucture .rectangles-structure .middle-content .section-rectangle {
  width: 30rem;
  height: 100%;
  background: #c8dee3;
  border-radius: 2rem;
  margin: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.website-stucture .rectangles-structure .footer-rectangle {
  width: 40rem;
  height: 5rem;
  background: #6a7a8e;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.nav-links-apps {
  top: -1%;
}

.heading-apps-section {
  padding-top: 7rem;
  padding-left: 2rem;
  flex: 2;
}

.left-line-apps {
  width: 0.3rem;
  height: 0rem;
  background: #5499c4;
  border-radius: 2rem;
  position: absolute;
  left: 11.5%;
}

.page-nr-apps {
  top: 7%;
}

.phoneApp-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.phoneApp {
  width: 22rem;
  height: 45vh;
  position: absolute;
  z-index: 20;
}

.phoneApp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rectangle-bg {
  height: 48vh;
  width: 12rem;
  border: 0.15rem solid #5499c4;
  border-radius: 2rem;
  position: absolute;
  top: 0%;
  right: 15%;
  transform: rotate(-35deg);
}

.square-blue1 {
  width: 10.5rem;
  height: 6rem;
  position: absolute;
  background-color: #5499c4;
  border-radius: 1.3rem;
  right: -5%;
  transform: rotate(8deg);
}

.square-blue2 {
  width: 10.5rem;
  height: 6rem;
  position: absolute;
  background-color: #5499c4;
  border-radius: 1.3rem;
  right: 25%;
  bottom: 25%;
  transform: rotate(12deg);
}

.nav-links-courses {
  top: 2%;
}

.next-arrow-top2 {
  flex: 1;
  margin-top: -8rem;
}

.left-line-courses {
  width: 0.3rem;
  height: 0rem;
  background: #5499c4;
  border-radius: 2rem;
  position: absolute;
  left: 11.5%;
}

.dev-subheading {
  color: #5499c4;
  font-size: 2.4rem;
  font-family: Futura;
  letter-spacing: 4.6rem;
  margin-left: 1.7rem;
}

.course-images-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.course-image {
  position: absolute;
  border-radius: 50%;
}

.course-image img {
  width: 100%;
  height: 100%;
}

.course-image1 {
  width: 13rem;
  height: 13rem;
  top: -3%;
  left: 50.7%;
  border: 0.2rem solid #f79902;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.course-image1 img {
  width: 10rem;
  height: 11rem;
  padding: 2rem;
}

.course-image2 {
  width: 12rem;
  height: 12rem;
  top: 35%;
  right: 5%;
  border: 0.2rem solid #0084d6;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.course-image2 img {
  width: 9rem;
  height: 9.5rem;
  padding: 2rem;
}

.course-image3 {
  width: 14rem;
  height: 14rem;
  bottom: 9%;
  left: 55%;
  border: 0.2rem solid #ffeb00;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.course-image3 img {
  width: 11rem;
  height: 12rem;
  padding: 2rem;
}

.shape-bg {
  width: 10rem;
  height: 12rem;
  border-radius: 2rem;
  position: absolute;
}

.shape-html {
  background: #ffc9c9;
  top: -8%;
  left: 49%;
}

.shape-sass {
  background: #f9c9ff;
  top: -2%;
  right: 0%;
}

.shape-react {
  background: #c9d8ff;
  top: 31%;
  left: 46%;
}

.shape-css {
  background: #c9e6ff;
  top: 42%;
  right: 1%;
}

.shape-js {
  background: #fff9c9;
  bottom: 5%;
  left: 54.3%;
}

.nav-links-ourteam {
  top: -21%;
}

.ourteam-subheading {
  color: #5499c4;
  font-size: 2.4rem;
  font-family: Futura;
  letter-spacing: 4.3rem;
  margin-left: 0.7rem;
}

.profile-images-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.profile-image {
  position: absolute;
  -webkit-filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.5));
}

.profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile-image1 {
  width: 14rem;
  height: 14rem;
  right: 22%;
  top: 30%;
  z-index: 20;
}

.profile-image2 {
  width: 6.5rem;
  height: 6.5rem;
  right: 12%;
  top: 7%;
  z-index: 20;
}

.profile-image3 {
  width: 9rem;
  height: 9rem;
  left: 43%;
  top: 14%;
  z-index: 20;
}

.profile-image4 {
  width: 7rem;
  height: 7rem;
  left: 52%;
  bottom: 22%;
  z-index: 20;
}

.profile-image5 {
  width: 5rem;
  height: 5rem;
  right: 10%;
  bottom: 32%;
  z-index: 20;
}

.navigator-stucture {
  position: relative;
  width: 100%;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 33%;
}

.navigator-stucture .structure-title {
  position: absolute;
  top: -10%;
  right: 18%;
  font-size: 2rem;
  color: #afafaf;
}

.line-navigator-page {
  width: 45rem;
  height: 18rem;
  position: absolute;
  right: 18%;
  top: -4%;
  border-top: dashed 0.2rem #aacce2;
  border-right: dashed 0.2rem #aacce2;
}

.navigator-example {
  position: absolute;
  top: 0;
  right: 15%;
  z-index: 20;
}

.navigator-example .nav-rectangle {
  width: 44rem;
  height: 11rem;
  background: #5499c4;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.bg-shape-blue {
  position: absolute;
  top: 7%;
  left: 29%;
  height: 9rem;
  width: 12rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.line-content-page {
  width: 44rem;
  height: 40rem;
  position: absolute;
  right: 18%;
  top: -4%;
  border-top: dashed 0.2rem #aacce2;
  border-right: dashed 0.2rem #aacce2;
}

.content-example {
  position: absolute;
  top: 0;
  right: 15%;
  z-index: 20;
}

.content-example .content-rectangle {
  width: 44rem;
  height: 34rem;
  background: #5499c4;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.bg-shape-blue-content {
  position: absolute;
  bottom: 25%;
  left: 28%;
  height: 9rem;
  width: 15rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.aside-example {
  position: absolute;
  z-index: 20;
}

.aside-example .aside-rectangle {
  width: 18rem;
  height: 34rem;
  background: #5499c4;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.aside-example1 {
  top: 0;
  right: 15%;
}

.aside-example2 {
  top: 0;
  left: 22%;
}

.aside-title-middle {
  position: absolute;
  top: 35%;
  left: 50%;
  color: #c6c6c6;
  font-size: 1.4rem;
}

.bg-shape-blue-aside1 {
  position: absolute;
  bottom: 20%;
  left: 29%;
  height: 9rem;
  width: 16rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.bg-shape-blue-aside2 {
  position: absolute;
  bottom: 25%;
  right: 20.5%;
  height: 9rem;
  width: 18rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.structure-title-footer {
  position: absolute;
  top: -10%;
  right: 20%;
  font-size: 2rem;
  color: #afafaf;
}

.line-footer-page {
  width: 44rem;
  height: 26rem;
  position: absolute;
  right: 20%;
  top: -4%;
  border-top: dashed 0.2rem #aacce2;
  border-right: dashed 0.2rem #aacce2;
}

.footer-example {
  position: absolute;
  top: 5%;
  right: 16%;
  z-index: 20;
}

.footer-example .footer-rectangle {
  width: 50rem;
  height: 13rem;
  background: #5499c4;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.bg-shape-blue-footer1 {
  position: absolute;
  top: 20%;
  left: 14%;
  height: 9rem;
  width: 16rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.bg-shape-blue-footer2 {
  position: absolute;
  top: 20%;
  right: 13.5%;
  height: 9rem;
  width: 18rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.line-dashboard-page {
  width: 44rem;
  height: 33rem;
  position: absolute;
  right: 20%;
  top: -4%;
  border-top: dashed 0.2rem #aacce2;
  border-right: dashed 0.2rem #aacce2;
}

.dashboard-example {
  position: absolute;
  top: 5%;
  right: 17%;
  z-index: 20;
}

.dashboard-example .dashboard-rectangle {
  width: 50rem;
  height: 23rem;
  background: #5499c4;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.bg-shape-blue-dashboard1 {
  position: absolute;
  top: 40%;
  left: 12.5%;
  height: 9rem;
  width: 16rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.bg-shape-blue-dashboard2 {
  position: absolute;
  top: 0%;
  right: 14%;
  height: 9rem;
  width: 16rem;
  background: #9eb5d3;
  border-radius: 1.2rem;
}

.nav-left-course {
  display: flex;
  flex-direction: column;
  height: 88vh;
  padding: 1rem 2rem;
  flex-basis: 10rem;
  width: 10vw;
}

.back-arrow-course {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-arrow-course .arrow-left {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border: 0.1rem dashed #afafaf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.back-arrow-course .arrow-left a {
  height: 1.5rem;
}

.back-arrow-course .back-text {
  margin-top: 6rem;
}

.back-arrow-course .back-text a {
  color: #5499c4;
  font-size: 1.2rem;
  font-weight: 400;
}

.heading-hmtl-css-course {
  padding-top: 7rem;
  padding-left: 2rem;
  flex: 2;
}

.heading-hmtl-css-course .title {
  font-size: 5rem;
  font-family: Futura;
  font-weight: 500;
  color: #afafaf;
}

.heading-hmtl-css-course .html-css-subHeading {
  font-size: 2rem;
  font-family: "Comfortaa", cursive;
  color: #5499c4;
  margin-left: 16.5rem;
  padding-top: 2rem;
}

.heading-hmtl-css-course .description-container {
  margin-left: 16.5rem;
}

.heading-hmtl-css-course .description-container .line {
  width: 3rem;
  height: 0.1rem;
  background: #c6c6c6;
  margin: 1rem 0rem 1.9rem 0rem;
}

.heading-hmtl-css-course .description-container .description {
  font-size: 1.2rem;
  width: 85%;
  color: #b5b5b5;
}

.course-video-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -10%;
}

.course-image {
  position: absolute;
}

.course-image img {
  width: 100%;
  height: 100%;
}

.course-sass-image1 {
  width: 13rem;
  height: 13rem;
  top: -2%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-sass-image1 img {
  width: 10rem;
  height: 11rem;
  padding: 1.5rem;
}

.course-title1 {
  font-size: 1.8rem;
  color: #ec07ff;
  position: absolute;
  top: 24%;
  left: 46%;
}

.course-html-image2 {
  width: 14rem;
  height: 15.5rem;
  top: 27%;
  right: 12.5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-html-image2 img {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.course-title2 {
  font-size: 1.8rem;
  color: #f79902;
  position: absolute;
  bottom: 27%;
  right: 18%;
}

.course-css-image3 {
  width: 12rem;
  height: 13.5rem;
  bottom: 22%;
  left: 37.5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-css-image3 img {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.course-title3 {
  font-size: 1.8rem;
  color: #0084d6;
  position: absolute;
  bottom: 15%;
  left: 43%;
}

.shape-course-bg {
  border-radius: 2rem;
  position: absolute;
}

.shape-course-sass {
  width: 13rem;
  height: 18rem;
  background: #f9c9ff;
  top: -6%;
  left: 40%;
}

.shape-course-html {
  width: 17.5rem;
  height: 33rem;
  background: #ffc9c9;
  top: 10%;
  right: 10%;
}

.shape-course-css {
  width: 15.5rem;
  height: 24rem;
  background: #c8dee3;
  top: 40%;
  right: 42%;
}

.shape-rectangle-bg1 {
  height: 40rem;
  width: 16rem;
  border: 0.1rem solid #0084d6;
  border-radius: 2rem;
  position: absolute;
  top: 8%;
  left: 22%;
}

.shape-rectangle-bg2 {
  height: 39rem;
  width: 14rem;
  border: 0.1rem solid #f79902;
  border-radius: 2rem;
  position: absolute;
  top: 1%;
  right: 3%;
}

.course-video-title {
  font-size: 1.6rem;
  color: #afafaf;
  position: absolute;
  left: 14%;
  top: 15%;
}

.course-video-title2 {
  font-size: 2rem;
  color: #afafaf;
  position: absolute;
  left: 16.9%;
  top: 20%;
}

.price-container {
  position: absolute;
  bottom: -18%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-container .price {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  background: linear-gradient(to bottom, #0084d6, #00baff);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}

.price-container .buy-btn {
  font-size: 1.5rem;
  color: #afafaf;
  padding: 1rem 4rem;
  border-radius: 2rem;
  border: 0.1rem solid #b5b5b5;
  transition: all 0.4s ease;
}

.price-container .buy-btn:hover {
  background: linear-gradient(to bottom, #0084d6, #00baff);
  color: #fff;
  transition: all 0.4s ease;
}

.shape-course-js {
  width: 17.5rem;
  height: 33rem;
  background: #fff9c9;
  top: 10%;
  right: 10%;
}

.shape-course-react {
  width: 15.5rem;
  height: 24rem;
  background: #c9d8ff;
  top: 40%;
  right: 42%;
}

.course-title4 {
  font-size: 1.8rem;
  color: #0084d6;
  position: absolute;
  bottom: 14%;
  left: 41.5%;
  z-index: 30;
}

.course-title5 {
  font-size: 1.8rem;
  color: #ffeb00;
  position: absolute;
  bottom: 25%;
  right: 15.5%;
  z-index: 30;
}

.shape-rectangle-bg3 {
  height: 37rem;
  width: 14rem;
  border: 0.1rem solid #0084d6;
  border-radius: 2rem;
  position: absolute;
  top: 15%;
  left: 24%;
}

.shape-rectangle-bg4 {
  height: 39rem;
  width: 14rem;
  border: 0.1rem solid #ffeb00;
  border-radius: 2rem;
  position: absolute;
  top: 1%;
  right: 3%;
}

.course-video-title3 {
  font-size: 1.8rem;
  color: #afafaf;
  position: absolute;
  left: 27%;
  top: 18%;
  letter-spacing: 0.1rem;
}

.course-video-title4 {
  font-size: 2.3rem;
  color: #afafaf;
  position: absolute;
  left: 38.2%;
  top: 23%;
}

.title-app-projects {
  font-size: 7rem;
  font-family: Futura;
  font-weight: 500;
  color: #afafaf;
}

.desc-container-app-projects {
  margin-left: 9.5rem;
  padding-right: 9rem;
}

.line {
  width: 3rem;
  height: 0.1rem;
  background: #c6c6c6;
  margin: 2rem 0rem 1rem 0rem;
}

.projects-app-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -10%;
}

.shape-bg-project1 {
  height: 8rem;
  width: 8rem;
  border-radius: 1.6rem;
  background: #f9c9ff;
  position: absolute;
  top: 10%;
  left: 26%;
}

.project-image1 {
  width: 16rem;
  height: 16rem;
  background: #6a7a8e;
  border-radius: 4rem;
  position: absolute;
  top: 14%;
  left: 30%;
}

.shape-bg-project2 {
  height: 8rem;
  width: 8rem;
  border-radius: 1.6rem;
  background: #c8dee3;
  position: absolute;
  top: 10%;
  right: 10%;
}

.project-image2 {
  width: 17rem;
  height: 24rem;
  background: #b5b5b5;
  border-radius: 4rem;
  position: absolute;
  top: 14%;
  right: 14%;
}

.shape-bg-project3 {
  height: 8rem;
  width: 8rem;
  border-radius: 1.6rem;
  background: #aacce2;
  position: absolute;
  bottom: 2%;
  left: 32%;
}

.project-image3 {
  width: 16rem;
  height: 19rem;
  background: #c8dee3;
  border-radius: 4rem;
  position: absolute;
  bottom: 7%;
  left: 34%;
}

.register-login-section {
  width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main-login-register-section {
  width: 100%;
  height: 76vh;
  display: flex;
  justify-content: center;
}

.welcome-container {
  padding-top: 4rem;
}

.main-login-register {
  flex: 2;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.heading-welcome-container {
  padding: 2rem 0rem;
  position: relative;
  height: 15vh;
  width: 25rem;
}

.image-bg-welcome {
  width: 10rem;
  height: 10rem;
  background: #5499c4;
  border-radius: 1.4rem;
  position: absolute;
  left: 0%;
  top: 0%;
}

.title-welcome {
  font-size: 3.8rem;
  font-weight: 400;
  color: #c6c6c6;
  position: absolute;
  top: 12%;
  left: 18.8%;
  z-index: 20;
}

.title-welcome span {
  color: #fff;
}

.titlesubHeading {
  font-size: 2.8rem;
  font-weight: 400;
  color: #5499c4;
  position: absolute;
  left: 46.5%;
  top: 55%;
}

.desc-login-register {
  font-size: 1.4rem;
  color: #afafaf;
  font-weight: 300;
  position: absolute;
  top: 87%;
  left: 45.5%;
  width: 20rem;
  line-height: 2rem;
}

.back-arrow-container {
  height: 10rem;
  width: 20rem;
  display: flex;
  align-items: center;
}

.back-arrow-container .back-text {
  margin-top: 6rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.back-arrow-container .back-text a {
  color: #5499c4;
}

.arrow-left {
  margin-top: 6rem;
  margin-right: 2rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 0.1rem solid #afafaf;
  border-radius: 50%;
}

.question-wrapper1 span {
  font-size: 2.3rem;
  color: #5499c4;
}

.question-wrapper1 h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #afafaf;
}

.question-wrapper2 {
  width: 25rem;
  position: absolute;
  top: 30%;
  right: 8%;
}

.question-wrapper2 span {
  font-size: 2.5rem;
  color: #5499c4;
}

.question-wrapper2 h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #afafaf;
}

.content-login-register {
  width: 70%;
  height: 88vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}

.register-login-container {
  height: 50vh;
  display: flex;
  position: relative;
  flex: 2;
}

.login-square-border {
  height: 28.5rem;
  width: 28.5rem;
  border-radius: 1.4rem;
  position: absolute;
  top: 23%;
  left: 3.9%;
  border: 0.1rem solid #5499c4;
  padding: 1rem;
}

.login-square {
  height: 26rem;
  width: 26rem;
  background-image: linear-gradient(rgba(84, 153, 196, 0.3), rgba(84, 153, 196, 0.3)), url(/images/register.jpg?5cd01d2cccdc42f977a52591440b7152);
  background-position: 45% 50%;
  background-size: cover;
  border-radius: 1.2rem;
  position: absolute;
  top: 26%;
  left: 5.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;
}

.login-square:hover {
  transform: scale(1.1);
  z-index: 40;
}

.login-square .login-link1 {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  margin-left: 2.2rem;
}

.login-square .login-link2 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  padding-top: 1rem;
  padding-left: 1rem;
}

.register-square-border {
  height: 28.5rem;
  width: 28.5rem;
  border-radius: 1.4rem;
  position: absolute;
  top: -17%;
  left: 26%;
  border: 0.1rem solid #fff9c9;
  padding: 1rem;
  z-index: 10;
}

.register-square {
  height: 26rem;
  width: 26rem;
  background-image: linear-gradient(rgba(84, 153, 196, 0.4), rgba(84, 153, 196, 0.3)), url(/images/login.jpg?59885cec91884dcd5401f771b9159db1);
  background-position: 45% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -13.5%;
  left: 27.4%;
  z-index: 30;
  transition: all 0.4s ease;
}

.register-square:hover {
  transform: scale(1.1);
}

.register-square .register-link1 {
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}

.register-square .register-link2 {
  margin-top: -3rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
}

.square-blur {
  height: 8rem;
  width: 26rem;
  background: rgba(255, 255, 255, 0.1);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

.course-labels-container {
  height: 10vh;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.course-labels-container .label {
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  cursor: pointer;
}

.course-labels-container .label a {
  font-size: 1.3rem;
  color: #6a7a8e;
  font-weight: 400;
}

.course-labels-container .label-html {
  background: #ffc9c9;
  left: 25%;
  top: 35%;
  transition: all 0.4s ease;
}

.course-labels-container .label-html:hover {
  top: 15%;
}

.course-labels-container .label-css {
  background: #c9e6ff;
  left: 35%;
  top: 35%;
  transition: all 0.4s ease;
}

.course-labels-container .label-css:hover {
  top: 15%;
}

.course-labels-container .label-js {
  background: #fff9c9;
  left: 45%;
  top: 35%;
  transition: all 0.4s ease;
}

.course-labels-container .label-js:hover {
  top: 15%;
}

.course-labels-container .label-sass {
  background: #f9c9ff;
  left: 55%;
  top: 35%;
  transition: all 0.4s ease;
}

.course-labels-container .label-sass:hover {
  top: 15%;
}

.course-labels-container .label-react {
  background: #c9d8ff;
  left: 65%;
  top: 35%;
  transition: all 0.4s ease;
}

.course-labels-container .label-react:hover {
  top: 15%;
}

.heading-founders {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-founders .title {
  font-size: 7rem;
  font-family: Futura;
  font-weight: 400;
  color: #afafaf;
}

.heading-founders .founders-subHeading {
  font-size: 2rem;
  font-family: Futura;
  color: #5499c4;
  letter-spacing: 1.1rem;
  padding-left: 0.5rem;
}

.heading-founders .description-container {
  padding-left: 9rem;
}

.heading-founders .description {
  font-size: 1.2rem;
  color: #c6c6c6;
  width: 70%;
}

.founders-images-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.shape-founders-bg {
  width: 14rem;
  height: 23rem;
  border: 0.2rem solid #585858;
  border-radius: 2rem;
  position: absolute;
}

.shape-founders-l {
  left: 25%;
  top: 12%;
}

.shape-founders-r {
  top: -10%;
  right: 5%;
}

.founders-image {
  width: 14rem;
  height: 14rem;
  position: absolute;
}

.founders-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.founder-image-l {
  left: 36.5%;
  top: 25%;
}

.founder-image-r {
  right: 16%;
  top: -4%;
}

.founders-name {
  position: absolute;
  font-size: 1.4rem;
}

.founders-name span {
  color: #5499c4;
}

.founder-name-l {
  bottom: 34%;
  left: 38%;
}

.founder-name-r {
  bottom: 56%;
  right: 13%;
}

.team-images-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.team-image {
  width: 10rem;
  height: 10rem;
  position: absolute;
}

.team-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.team-image-l-top {
  left: 37%;
  top: 13%;
}

.team-image-l-bottom {
  left: 37%;
  bottom: 25%;
}

.team-image-r-top {
  right: 10%;
  top: 13%;
}

.team-image-r-bottom {
  right: 10%;
  bottom: 25%;
}

.login-page-content {
  display: flex;
  height: 88vh;
  width: 100%;
}

.login-form {
  height: 60vh;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #5499c4;
  border-radius: 1.4rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.login-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.form-heading h2 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #afafaf;
}

.inputs-wrapper {
  width: 60%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid #c6c6c6;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.login-btn {
  font-size: 1.5rem;
  color: #afafaf;
  padding: 0.6rem 1.2rem;
  margin-top: 3rem;
  background: none;
  border: 0.1rem solid #c6c6c6;
  border-radius: 2rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: all 0.4s ease;
}

.login-btn:hover {
  color: #fff;
  background: #5499c4;
}

.form-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-image-login {
  background-image: linear-gradient(rgba(175, 175, 175, 0.3), rgba(84, 153, 196, 0.3)), url(/images/login.jpg?59885cec91884dcd5401f771b9159db1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.desc-form-image {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 0 auto;
  height: 18vh;
  width: 75%;
  color: #ebebeb;
}

.form-logo-text {
  height: 12vh;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
}

.form-image-register {
  background-image: linear-gradient(rgba(175, 175, 175, 0.3), rgba(84, 153, 196, 0.3)), url(/images/register.jpg?5cd01d2cccdc42f977a52591440b7152);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.desc-form-image-register {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 0 auto;
  height: 20vh;
  width: 75%;
  border-radius: 2rem;
  color: #ebebeb;
  background: rgba(198, 198, 198, 0.1);
}

