// Animatie Phone WELCOME

#intro-section {
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // margin: auto;
    // width: 90%;
    // min-height: 60vh;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    background-image: url("/img/ny2.jpg");
    background-position: top right 109%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.intro-section-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    min-height: 60vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

//White Gradient Bg Top
.intro-bg-top {
    width: 100%;
    height: 20rem;
    background: linear-gradient(to top, transparent, $color-white);
    position: absolute;
    z-index: 2;
}

// White Gradient Bg Bottom
.intro-bg-bottom {
    width: 100%;
    height: 20rem;
    margin-top: -20rem;
    background: linear-gradient(to bottom, transparent, $color-white);
    position: absolute;
    z-index: 2;
}

.intro-bg-bottom2 {
    width: 100%;
    height: 20rem;
    margin-top: 3rem;
    background: linear-gradient(to top, transparent, $color-white);
    position: absolute;
    z-index: 2;
}

#header-intro {
    flex: 1 1 40rem;
}


.heading-title-app {
    font-size: 4rem;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    background: linear-gradient(to right, #f4baa4, #ffe171);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-intro {
    margin-top: .5rem;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Comfortaa', cursive;
    color: $color-gray;
    width: 70%;
    // padding: .4rem .2rem;
    // backdrop-filter: blur(.2rem);
    // border-radius: 2rem;

}


.phone-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
}

#bm {
    width: 23rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    right: -30.5%;
    top: 0%;
    -webkit-transform: translate(40%, 20%);
    transform: translate(40%, 20%);
    -webkit-filter: drop-shadow(0 .1rem .2rem $matte-blue);
    filter: drop-shadow(0 .1rem .2rem $matte-blue);
    z-index: 10;
    -webkit-transition: .6s;
    transition: .6s;


    &:hover {
        -webkit-transform: translate(38%, 18%);
        transform: translate(38%, 18%);
    }
}


.waves {
    width: 30rem;
    position: relative;
    right: 10%;
    // top: 70%;
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    z-index: 3;
}

.phone-stand {
    width: 30rem;
    // position: absolute;
    // top: -3%;
    margin-left: 16rem;
    margin-top: -2rem;
    -webkit-filter: drop-shadow(0 .3rem .5rem $color-black);
    filter: drop-shadow(0 .3rem .5rem $color-black);
}

.lines {
    width: 40rem;
    position: absolute;
    right: -40.5%;
    top: -180%;
    -webkit-transform: translate(16%, 80px);
    transform: translate(16%, 80px);
    z-index: -3;
    -webkit-filter: drop-shadow(0 .3rem .5rem $color-black);
    filter: drop-shadow(0 .3rem .5rem $color-black);
}

.black-lines-phone {
    width: 100%;
}

.plasa {
    width: 37rem;
    position: absolute;
    right: -32.5%;
    top: -84%;
    -webkit-transform: translate(24%, -80px);
    transform: translate(24%, -80px);
    z-index: -4;
    overflow: hidden;
    // filter: drop-shadow(0 .3rem .5rem $color-black);
}

.plasa-phone-img {
    width: 100%;
}

// More Details for Application
.modal-bg-app {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, rgba($color-gray1, .6), rgba($matte-blue, .6));
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    // z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-container {
    position: relative;
    background-color: $color-white;
    width: 40%;
    height: 40%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1rem 1.6rem rgba($color-blue-dark2, .8);
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: $default-font-size;
    font-weight: bold;
    cursor: pointer;
}



// .modal-title {
//     font-size: 5rem;
//     font-family: $font-family-sans-serif;
//     letter-spacing: .2rem;
//     font-weight: 300;
//     color: $color-gray;
//     padding-bottom: 1.2rem;
//     padding-top: 3rem;
// }

// .title-line {
//     width: 12rem;
//     height: .1rem;
//     background-color: $color-white;
//     display: block;
//     margin-bottom: 2.1rem;
// }

.modal-description {
    font-size: $default-font-size;
    font-family: $poppins;
    font-weight: 200;
    color: $color-gray4;
    text-align: left;
    padding: .3rem 2rem;
}


// Details for App PRICE
.modal-bg-app2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, rgba($color-gray1, .6), rgba($matte-blue, .6));
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    // z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-container2 {
    position: relative;
    background-color: $color-white;
    width: 40%;
    height: 40%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1rem 1.6rem rgba($color-blue-dark2, .8);
}

.modal-close2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: $default-font-size;
    font-weight: bold;
    cursor: pointer;
}

#close-btn-more,
#close-btn-price {
    position: absolute;
    bottom: 1.6rem;
    border: .2rem solid $matte-purple;
    border-radius: 2.1rem;
    background: $color-gray;
    color: $matte-purple;
    padding: .2rem 2rem;
    cursor: pointer;
    font-size: $default-font-size;
    letter-spacing: .2rem;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0rem .4rem .4rem rgba($color-blue-dark2, .8);
}

.bg-active-price {
    visibility: visible;
    opacity: 1;
}

// .modal-title2 {
//     font-size: 5rem;
//     font-family: $font-family-sans-serif;
//     letter-spacing: .2rem;
//     font-weight: 300;
//     color: $color-gray;
//     padding-bottom: 1.2rem;
//     padding-top: 3rem;
// }

// .title-line2 {
//     width: 12rem;
//     height: .1rem;
//     background-color: $color-white;
//     display: block;
//     margin-bottom: 2.1rem;
// }

.modal-description2 {
    font-size: $default-font-size;
    font-family: $poppins;
    font-weight: 200;
    color: $color-gray4;
    text-align: left;
    padding: .3rem 2rem;
}

// Buttons More / App for Applications
.cta {
    padding: 2.1rem 0rem 0rem 0rem;
    font-family: 'Comfortaa', cursive;
}

.cta-More {
    border: .16rem solid #f3a6fb;
    border-radius: 2.1rem;
    background: $color-gray;
    color: #f3a6fb;
    padding: .4rem 3rem;
    // width: 15rem;
    // height: 5rem;
    cursor: pointer;
    font-size: $default-font-size;
    letter-spacing: .2rem;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0rem .4rem .4rem rgba(#e1e47b, .84);
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        height: 6rem;
        width: 1.6rem;
        background: rgba($color-white, .3);
        position: absolute;
        margin-top: -2.2rem;
        // top: -2rem;
        transform: translateX(-8rem) rotate(23deg);
        transition: all 1s;
    }

    &:hover::before {
        transform: translateX(10rem) rotate(23deg);
    }

    &:hover {
        color: $color-white;
        background: linear-gradient(to right, #f4baa4, #ffe171);
        border: .16rem solid #f3a6fb;
    }

    // &:focus {
    //     outline: 0;
    // }
}

.cta-App {
    border: .16rem solid #f3a6fb;
    border-radius: 2.1rem;
    background: linear-gradient(to right, #f4baa4, #ffe171);
    color: $color-white;
    padding: .4rem 3rem;
    margin-left: 3.2rem;
    cursor: pointer;
    font-size: $default-font-size;
    letter-spacing: .2rem;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0rem .4rem .4rem rgba(#e1e47b, .84);
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        height: 6rem;
        width: 1.6rem;
        background: rgba($color-white, .3);
        position: absolute;
        margin-top: -2.2rem;
        // top: -2rem;
        transform: translateX(-8rem) rotate(23deg);
        transition: all 1s;
    }

    &:hover::before {
        transform: translateX(10rem) rotate(23deg);
    }

    &:hover {
        color: #f3a6fb;
        background: $color-gray;
        border: .16rem solid #f3a6fb;
    }

    // &:focus {
    //     outline: 0;
    // }
}

// Animatie Bubbles Liquid
.loader-bubbles {
    position: relative;
    background: white;
    width: 40rem;
    height: 40rem;
    margin-top: -32rem;
    margin-left: -22rem;
    filter: blur(8px) contrast(40);
    // filter: url("#goo");
    z-index: -1;



    .bubbles-liquid {
        position: absolute;
        top: 37%;
        left: 52%;
        background: $color-black;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;

        &:nth-child(1) {
            animation: move-1 4s cubic-bezier(1, 1, 1, 1) infinite reverse;
            animation-delay: 2s;

            @keyframes move-1 {
                from {
                    transform: rotate(0deg) translateX(.3rem) rotate(0deg);
                }

                to {
                    transform: rotate(360deg) translateX(.3rem) rotate(-360deg);
                }
            }
        }

        &:nth-child(2) {
            width: 5rem;
            height: 5rem;
            top: 30%;
            left: 64.5%;
            animation: move-2 4s cubic-bezier(1, 1, 1, 1) infinite;
            animation-delay: 2s;

            @keyframes move-2 {
                from {
                    // transform-origin: center right;
                    transform: rotate(0deg) translateX(.2rem) rotate(0deg);
                }

                to {
                    // transform-origin: center right;
                    transform: rotate(360deg) translateX(.2rem) rotate(-360deg);
                }
            }
        }

        &:nth-child(3) {
            width: 2rem;
            height: 2rem;
            top: 38%;
            left: 76%;
            animation: move-4 4s cubic-bezier(1, 1, 1, 1) infinite reverse;

            @keyframes move-4 {
                from {
                    // transform-origin: center right;
                    transform: rotate(0deg) translateX(.1rem) rotate(0deg);
                }

                to {
                    // transform-origin: center right;
                    transform: rotate(360deg) translateX(.1rem) rotate(-360deg);
                }
            }
        }

        &:nth-child(4) {
            width: 3.5rem;
            height: 3.5rem;
            top: 42%;
            left: 43%;
            animation: move-5 4s cubic-bezier(1, 1, 1, 1) infinite;

            @keyframes move-5 {
                from {
                    // transform-origin: center right;
                    transform: rotate(0deg) translateX(.3rem) rotate(0deg);
                }

                to {
                    // transform-origin: center right;
                    transform: rotate(360deg) translateX(.3rem) rotate(-360deg);
                }
            }
        }
    }
}

// Responsive App img container
.app-img-resp-container {
    display: none;
}
