.line-aside-page {
    width: 60%;
    height: 83%;
    position: absolute;
    right: 18%;
    top: -4%;
    border-top: dashed 0.2rem $color-blue5;
    border-right: dashed 0.2rem $color-blue5;
}
.aside-example {
    width: 24%;
    height: 70%;
    position: absolute;
    z-index: 20;
    .aside-rectangle {
        width: 100%;
        height: 100%;
        background: $color-blue;
        border-radius: 1.6rem;
        padding: 0.5rem;
    }
}
.aside-example1 {
    top: 0;
    right: 13%;
}
.aside-example2 {
    top: 0;
    left: 18%;
}

.aside-title-middle {
    position: absolute;
    top: 35%;
    left: 50%;
    color: $color-gray2;
    font-size: 1.4rem;
}

.bg-shape-blue-aside1 {
    position: absolute;
    bottom: 20%;
    left: 25%;
    height: 19%;
    width: 24%;
    background: $color-blue2;
    border-radius: 1.2rem;
}
.bg-shape-blue-aside2 {
    position: absolute;
    bottom: 25%;
    right: 20%;
    height: 19%;
    width: 24%;
    background: $color-blue2;
    border-radius: 1.2rem;
}
