.auth-pages {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: .3rem solid rgba($color-purple2, .6);
    border-radius: 2.4rem;

    .auth-left-bg {
        background-image: linear-gradient(to bottom, rgba($color-purple2, .2) -9%, rgba($color-blue, 1)),
            url('/img/buildings-ny.jpg');
        background-position: top -3% left 0px;
        background-size: 106%;
        padding: 6rem 8rem;
        border-radius: 2rem 0 0 2rem;
    }

    .auth-left {
        // border-right: .1rem solid $color-gray5;
        font-size: $default-font-size;
    }

    .round {
        display: flex;
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        height: 2.3rem;
        width: 2.3rem !important;
        background-color: $color-gray;
        border-radius: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-right: 1rem;
        outline: none;
    }

    input[type="checkbox"]:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.2rem;
        color: $color-white;
        display: none;
        content: "\f00c";
        margin-top: .1rem;
    }

    input[type="checkbox"]:hover {
        background-color: $matte-purple;
    }

    input[type="checkbox"]:checked {
        background-color: $matte-purple;
    }

    input[type="checkbox"]:checked:after {
        display: block;
    }

    input {
        border: .1rem solid $color-gray5;
        padding: .6rem 1rem !important;
        border-radius: 1.6rem;
        margin-top: 2rem;
        width: 100%;
        font-size: 1.4rem;
    }

    input:focus {
        outline: none !important;
    }

    input[type="checkbox"] {
        width: auto;
    }

    span {
        font-family: "Comfortaa", cursive;
        font-size: 1.4rem;
    }

    .login-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;

        label {
            font-size: 1.5rem;
            color: $color-gray;
            margin-top: .2rem;
        }

        input {
            color: $color-gray7;
        }
    }

    .auth-button {
        background: linear-gradient(to top, $matte-purple, $color-blue);
        color: $color-white;
        font-size: 1.5rem;
        font-family: "Comfortaa", cursive;
        border-radius: 1.6rem;
        padding: .6rem 3rem;
        border: none;
        transition: .3s ease-in;

        &:hover {
            background: linear-gradient(to top, $matte-purple, $color-blue);
            filter: drop-shadow(.2rem .2rem .3rem $color-blue-dark2);
            transition: .3s ease-out;
        }
    }

    .auth-btn-login {
        background: linear-gradient(to top, $matte-purple, #658aff);
        margin-top: 1.2rem;
        margin-left: 9rem;

        &:hover {
            background: linear-gradient(to top, $matte-purple, #658aff);
            filter: drop-shadow(.2rem .2rem .3rem $color-blue-dark2);
            transition: .3s ease-out;
        }
    }

    .forgot-password-link {
        font-size: 1.4rem;
        font-family: "Comfortaa", cursive;
        color: $color-gray;

        &:hover {
            text-decoration: none;
            color: lighten($color-purple1, 10%);
        }
    }

    .auth-button-hollow {
        background: $color-white;
        color: $matte-purple;
        border-radius: 5px;
        border: 1px solid $color-blue-btn2;
        padding: .8rem 3rem;
        font-size: $default-font-size;

        &:hover {
            background: $color-blue-btn;
            color: $color-white;
            text-decoration: none;
        }
    }

    .auth-right-bg {
        padding: 6rem 8rem;
    }

    .auth-right {
        // border-left: .1rem solid $color-gray5;
        font-size: $default-font-size;

        .register-heading-right {
            color: $color-gray2;
        }

        .register-sub-heading {
            color: $color-gray2;
            font-weight: 500;
        }

        .register-details {
            color: $color-gray2;
        }
    }
}

.already-have-container {
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.5rem;
        color: $matte-purple;
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
}

.create-account-button {
    margin-top: 3rem;
    background: $color-blue-btn;
    color: $color-white;
    font-size: $default-font-size;
    border-radius: .6rem;
    padding: .6rem 1rem;
    border: none;
    transition: .3s ease-in;

    &:hover {
        background: lighten($color-blue-btn2, 10%);
        filter: drop-shadow(.2rem .2rem .3rem $color-blue-dark2);
        transition: .3s ease-out;
    }
}

.login-button {
    background: $color-blue-btn;
    color: $color-white;
    font-size: $default-font-size;
    border-radius: .6rem;
    padding: .6rem 0;
    width: 1.4rem;
    border: none;
    transition: .3s ease-in;
    text-align: center;

    &:hover {
        color: $color-white;
        background: lighten($color-blue-btn2, 10%);
        filter: drop-shadow(.2rem .2rem .3rem $color-blue-dark2);
        transition: .3s ease-out;
        text-decoration: none;
    }
}

// REGISTER Page

.register-heading {
    font-size: 2.3rem;
    font-family: "Comfortaa", cursive;
    color: $color-gray;
    padding-bottom: 2rem;
}

.register-heading2 {
    font-size: 2.3rem;
    font-family: "Comfortaa", cursive;
    background: linear-gradient(to bottom, $color-blue, $color-purple1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2rem;
}

.label-register {
    font-size: 14px;
    color: $matte-purple;
}
