#contact {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $color-blue-dark2;
}

/* CONTACT LEFT DETAILS */
.contact-container-left {
    flex: 1 1 40rem;
    text-align: center;
    padding: 2rem 2rem;
}

.contact-heading {
    color: $color-gray;
    font-size: 4rem;
    font-family: "ZCOOL XiaoWei", serif;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.contact-description {
    color: $color-gray5;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    padding: 2rem 0;
}

.socialMedia-description {
    color: $color-gray5;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

.contact-social-media {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    margin: auto;
    padding: 2rem 0;
}

.social-media-tag {
    color: $color-blue;
    font-weight: 300;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-family: 'Comfortaa', cursive;
}

.facebook-form-icon {
    color: $color-blue;
    font-size: 2rem;

    &:hover {
        color: darken($color-blue, 15%);
    }
}

.instagram-form-icon {
    color: $color-blue;
    font-size: 2rem;

    &:hover {
        color: darken($color-blue, 15%);
    }
}

.twitter-form-icon {
    color: $color-blue;
    font-size: 2rem;

    &:hover {
        color: darken($color-blue, 15%);
    }

    .twitter-icon {
        &:hover {
            background: none;
        }
    }
}

.youtube-form-form {
    color: $color-blue;
    font-size: 2rem;

    &:hover {
        color: darken($color-blue, 15%);
    }
}

/* CONTACT RIGHT FORM */

.contact-container-right {
    flex: 1 1 40rem;
}

.contact-wrapper-right {
    // background: rgba($color-blue-dark, .6);
    width: 60%;
    color: $color-white;
    border-radius: 2rem;
    margin: auto;
    // box-shadow: 0 .3rem .5rem $color-black-blue;
}

.form-heading {
    color: $color-gray;
    font-size: 3rem;
    font-family: "ZCOOL XiaoWei", serif;
    padding: 3rem;
    text-align: center;
}


.name-form-wrapper,
.email-form-wrapper {
    width: 90%;
    margin: 1rem auto;
    position: relative;
}

.text-form-wrapper {
    width: 90%;
    margin: 0 auto 3rem;
    padding: .6rem 0;
    position: relative;
    border-radius: 2rem;
    background: linear-gradient(315deg, #171a2d, #1b1f36);
    box-shadow: -20px -20px 60px #15192b,
        20px 20px 60px #1d213a;
}

.label-name,
.label-email {
    font-size: 1.3rem;
    font-family: "ZCOOL XiaoWei", serif;
    letter-spacing: .06rem;
    padding: 0 1.4rem;
}

.label-text {
    font-size: 1.3rem;
    font-family: "ZCOOL XiaoWei", serif;
    letter-spacing: .06rem;
    margin-top: .4rem;
    margin-left: 4rem;
}


.input-name,
.input-email {
    width: 100%;
    padding: .6rem 1.8rem;
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid $color-blue-dark2;
    color: $color-gray5;
    font-size: 1.4rem;
    transition: border-color .3s;
    outline: none;
    border-radius: 2rem;
    background: linear-gradient(315deg, #171a2d, #1b1f36);
    box-shadow: -20px -20px 60px #15192b,
        20px 20px 60px #1d213a;

    &::placeholder {
        color: $color-gray2;
        background: linear-gradient(315deg, #171a2d, #1b1f36);
    }

    &:focus {
        // border-bottom-color: $color-aqua;
        outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $color-gray;
        -webkit-box-shadow: 0 0 0px 1000px #1b1f36 inset !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.input-text {
    width: 100%;
    padding: 1rem 1.8rem;
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid $color-blue-dark2;
    color: $color-gray5;
    font-size: 1.4rem;
    transition: border-color .3s;
    outline: none;

}

.input-text {
    resize: none;
}

.focus-border-name,
.focus-border-email,
.focus-border-text {
    position: absolute;
    bottom: 1rem;
    left: 1.8rem;
    width: 0;
    height: .2rem;
    background-color: #2b8bca;
    transition: .4s;
}


.input-name:focus~.focus-border-name,
.input-email:focus~.focus-border-email,
.input-text:focus~.focus-border-text {
    width: 90%;
    transition: .4s;
}

.form-button {
    text-align: center;
    width: 40%;
    font-size: 1.5rem;
    color: $color-gray;
    // background: darken($color-blue, 10%);
    padding: .6rem;
    margin-left: 3rem;
    border: none;
    border-radius: 2rem;
    background: #191d32;
    box-shadow: inset 20px 20px 60px #15192b,
        inset -20px -20px 60px #1d213a;

    &:hover {
        background: $matte-purple;
    }
}
