.line-content-page {
    width: 63%;
    height: 83%;
    position: absolute;
    right: 18%;
    top: -4%;
    border-top: dashed 0.2rem $color-blue5;
    border-right: dashed 0.2rem $color-blue5;
}
.content-example {
    height: 71%;
    width: 63%;
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 20;
    .content-rectangle {
        width: 100%;
        height: 100%;
        background: $color-blue;
        border-radius: 1.6rem;
        padding: 0.5rem;
    }
}

.bg-shape-blue-content {
    position: absolute;
    bottom: 25%;
    left: 19.5%;
    height: 19%;
    width: 22%;
    background: $color-blue2;
    border-radius: 1.2rem;
}
