.line-dashboard-page {
    width: 62%;
    height: 65%;
    position: absolute;
    right: 20%;
    top: -4%;
    border-top: dashed 0.2rem $color-blue5;
    border-right: dashed 0.2rem $color-blue5;
}
.dashboard-example {
    height: 49.5%;
    width: 68%;
    position: absolute;
    top: 5%;
    right: 17%;
    z-index: 20;
    .dashboard-rectangle {
        width: 100%;
        height: 100%;
        background: $color-blue;
        border-radius: 1.6rem;
        padding: 0.5rem;
    }
}

.bg-shape-blue-dashboard1 {
    position: absolute;
    top: 40%;
    left: 12%;
    height: 19%;
    width: 23%;
    background: $color-blue2;
    border-radius: 1.2rem;
}
.bg-shape-blue-dashboard2 {
    position: absolute;
    top: 0%;
    right: 14%;
    height: 19%;
    width: 23%;
    background: $color-blue2;
    border-radius: 1.2rem;
}
