.line-footer-page {
    width: 44rem;
    height: 26rem;
    position: absolute;
    right: 18%;
    top: -4%;
    border-top: dashed 0.2rem $color-blue5;
    border-right: dashed 0.2rem $color-blue5;
}
.footer-example {
    position: absolute;
    top: 5%;
    right: 13%;
    z-index: 20;
    .footer-rectangle {
        width: 50rem;
        height: 13rem;
        background: $color-blue;
        border-radius: 1.6rem;
        padding: 0.5rem;
    }
}

.bg-shape-blue-footer1 {
    position: absolute;
    top: 20%;
    left: 23%;
    height: 9rem;
    width: 16rem;
    background: $color-blue2;
    border-radius: 1.2rem;
}
.bg-shape-blue-footer2 {
    position: absolute;
    top: 20%;
    right: 11%;
    height: 9rem;
    width: 18rem;
    background: $color-blue2;
    border-radius: 1.2rem;
}
