.structure-title-footer {
    position: absolute;
    top: -10%;
    right: 20%;
    font-size: 2rem;
    color: $color-gray;
}
.line-footer-page {
    width: 44rem;
    height: 26rem;
    position: absolute;
    right: 20%;
    top: -4%;
    border-top: dashed 0.2rem $color-blue5;
    border-right: dashed 0.2rem $color-blue5;
}
.footer-example {
    position: absolute;
    top: 5%;
    right: 16%;
    z-index: 20;
    .footer-rectangle {
        width: 50rem;
        height: 13rem;
        background: $color-blue;
        border-radius: 1.6rem;
        padding: 0.5rem;
    }
}

.bg-shape-blue-footer1 {
    position: absolute;
    top: 20%;
    left: 14%;
    height: 9rem;
    width: 16rem;
    background: $color-blue2;
    border-radius: 1.2rem;
}
.bg-shape-blue-footer2 {
    position: absolute;
    top: 20%;
    right: 13.5%;
    height: 9rem;
    width: 18rem;
    background: $color-blue2;
    border-radius: 1.2rem;
}
