.logo {
    height: 11vh;
    padding: 1rem 0rem;
    position: relative;
    display: flex;
    // .logo-link {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 16rem;
    //     img {
    //         width: 100%;
    //     }
    // }
    .romb-left-border {
        height: 50%;
        width: 2.9%;
        border: 0.1rem solid $color-blue;
        border-radius: 1.4rem;
        // padding: 0.2rem;
        transform: rotate(-45deg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 19%;
        left: 1%;
        filter: drop-shadow(0rem 0.1rem 0.1rem rgba($color-black, 0.2));
    }
    .romb-left {
        height: 86%;
        width: 86%;
        background: $color-blue;
        border-radius: 0.8rem;
        filter: drop-shadow(0rem 0.1rem 0.1rem rgba($color-black, 0.2));
    }
    .logo-text1 {
        font-size: 2rem;
        color: $color-gray;
        position: absolute;
        top: 33%;
        left: 4.5%;
        filter: drop-shadow(0rem 0.1rem 0.1rem rgba($color-black, 0.2));
    }
    .logo-text2 {
        color: $color-white;
        font-size: 1rem;
        position: absolute;
        top: 22%;
        left: 2%;
        z-index: 20;
        filter: drop-shadow(0rem 0.1rem 0.2rem rgba($color-black, 0.3));
    }
    .logo-text3 {
        color: $color-white;
        font-size: 1.8rem;
        position: absolute;
        top: 35%;
        left: 1.5%;
        filter: drop-shadow(0rem 0.1rem 0.2rem rgba($color-black, 0.3));
    }
    .logo-text4 {
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-white;
        position: absolute;
        top: 26%;
        left: 10.45%;
        z-index: 21;
        filter: drop-shadow(0rem 0.1rem 0.2rem rgba($color-black, 0.3));
    }
    .line-l {
        height: 40%;
        width: 0.05%;
        background: $color-white;
        position: absolute;
        top: 36%;
        left: 1.8%;
        transform: rotate(-45deg);
        z-index: 10;
    }
    .line-r {
        height: 40%;
        width: 0.05%;
        background: $color-white;
        position: absolute;
        top: 36%;
        left: 3.1%;
        transform: rotate(45deg);
        z-index: 10;
    }
    .romb-right1 {
        height: 12%;
        width: 0.6%;
        background: $color-blue;
        border-radius: 0.3rem;
        transform: rotate(15deg);
        position: absolute;
        left: 10.4%;
        top: 23%;
    }
    .romb-right2 {
        height: 12%;
        width: 0.6%;
        background: $color-blue;
        border-radius: 0.3rem;
        transform: rotate(15deg);
        position: absolute;
        left: 11%;
        top: 34%;
    }
    .romb-right3 {
        height: 9%;
        width: 0.45%;
        background: $color-blue;
        border-radius: 0.2rem;
        transform: rotate(15deg);
        position: absolute;
        left: 10.4%;
        top: 36%;
    }
    .romb-right4 {
        height: 9%;
        width: 0.45%;
        background: $color-blue;
        border-radius: 0.2rem;
        transform: rotate(15deg);
        position: absolute;
        left: 11.1%;
        top: 23.8%;
    }
}

#homeLayout {
    width: 100%;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.nav-left {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 1rem 2rem;
    flex-basis: 10rem;
    width: 4vw;
    .nav-links-wrapper {
        display: flex;
        flex-direction: column;
        flex: 3;
        justify-content: center;
        padding-top: 8rem;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Ebrima;
        span {
            margin-right: 0.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-gray5;
        }
        .left-line {
            width: 0.3rem;
            height: 0rem;
            background: $color-blue;
            border-radius: 2rem;
        }
        p {
            font-size: 1.5rem;
            padding-left: 0.3rem;
            color: $color-blue;
        }
    }
    .dot {
        height: 0.3rem;
        width: 0.3rem;
        border-radius: 50%;
        background: $color-gray2;
        margin: 1rem 0rem 0rem 1.3rem;
    }
    .next-arrow {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        .next-text {
            display: flex;
            flex-direction: column;
            width: 3rem;
            height: 3rem;
            align-items: center;
            font-weight: 600;
            a {
                padding: 0rem;
                transform: rotate(-90deg);
                color: $color-blue;
                font-family: $font-comfortaa;
            }
        }
        .arrow-down {
            cursor: pointer;
            img {
                transform: rotate(-180deg);
                margin-left: 0.8rem;
            }
        }
    }
}

.mainContent {
    flex: 2;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    .heading {
        padding-top: 7rem;
        padding-left: 5rem;
        width: 100%;
        .title {
            font-size: 9rem;
            font-family: Futura;
            font-weight: 500;
            color: $color-gray;
        }
        .description-container {
            margin-top: 2rem;
            margin-left: 12.5rem;
            .subHeading {
                font-size: 2.6rem;
                font-family: $font-comfortaa;
                color: $color-blue;
            }
            .line {
                width: 3rem;
                height: 0.1rem;
                background: $color-gray2;
                margin: 1rem 0rem 1.9rem 0rem;
            }
            .description {
                font-size: 1.4rem;
                width: 85%;
                color: $color-gray3;
                line-height: 1.8rem;
            }
        }
    }
    .images {
        position: relative;
        width: 100%;
        top: 56%;
        transform: translate(-50%, -50%);
        left: 34%;
        .img-wrapper {
            width: 47%;
            height: 18.5%;
            background: linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                ),
                url("../../../public/images/frontend_img/site1.jpg");
            background-repeat: no-repeat;
            background-position: 50% 6%;
            background-size: 128%;
            border-radius: 1.6rem;
            transform: rotate(-30deg);
            position: absolute;
            left: 16.5%;
            top: 3%;
            z-index: 10;
            filter: drop-shadow(0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.7));
        }
        .img-wrapper2 {
            // margin-top: 4rem;
            width: 47%;
            height: 18.5%;
            background: linear-gradient(
                    rgba(255, 255, 255, 0.65),
                    rgba(255, 255, 255, 0.65)
                ),
                url("../../../public/images/frontend_img/dashboard.jpg");
            background-repeat: no-repeat;
            background-position: 65% 43%;
            background-size: 100%;
            border-radius: 1.6rem;
            transform: rotate(-30deg);
            position: absolute;
            top: 25.6%;
            left: 22%;
            z-index: 15;
            filter: drop-shadow(0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.7));
        }
        .img-wrapper3 {
            // margin-top: 4rem;
            width: 47%;
            height: 18.5%;
            background: linear-gradient(
                    rgba(255, 255, 255, 0.4),
                    rgba(255, 255, 255, 0.4)
                ),
                url("../../../public/images/frontend_img/apps.png");
            background-repeat: no-repeat;
            background-position: 50% 21%;
            background-size: 100%;
            border-radius: 1.6rem;
            transform: rotate(-30deg);
            position: absolute;
            top: 47.5%;
            left: 28.5%;
            z-index: 20;
            filter: drop-shadow(0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.7));
        }
        .square-bg {
            height: 75%;
            width: 24%;
            border: 0.2rem solid $color-blue;
            border-radius: 1.6rem;
            position: absolute;
            left: 32%;
            top: -2%;
            z-index: 1;
            transform: rotate(-30deg);
        }
    }
}

.social {
    flex-basis: 10rem;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 20;
    a {
        text-decoration: none;
        color: $color-blue;
        font-size: 1.6rem;
        padding: 1rem 0rem;
        transition: color 0.4s ease;
        svg {
            cursor: pointer;
        }
        &:hover {
            color: lighten($color-blue, 10%);
            transform: scale(1.1);
        }
    }
}
