#managers-team {
    // margin-top: 30rem;
}

.managers-container {
    height: 70vh;
    width: 100%;
    background: linear-gradient($black-pearl, 30%, rgba($black-pearl, .8), transparent), url('/img/office.png');
    background-position: 0% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1rem 1rem $color-gray1;
    box-shadow: 0 1rem 1rem $color-gray1;
}

.managers-heading-wraper {
    // margin-left: 6rem;
    text-align: center;
}

.managers-heading {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .6rem;
    text-transform: uppercase;
    font-family: $font3;
    color: $color-white;
    padding-top: 6rem;
    text-shadow: 0 .4rem .4rem $black-pearl;
    font-family: "ZCOOL XiaoWei", serif;
}


.managers-heading-line {
    width: 12rem;
    height: .2rem;
    background: $color-gray;
    border-radius: 1.2rem;
    margin: auto;
    // position: relative;
    // left: 45%;
    box-shadow: 0 .3rem .4rem $color-gray1;
}

.managers-img-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.managers-img-wrapper {
    display: block;
}

.manager-left-img-container {
    width: 21rem;
    margin-top: -53rem;

}

.manager-left-img {
    width: 100%;
    // border: 1.2rem solid $color-gray;
    border-radius: 100%;
    // background: linear-gradient(transparent 41%, #0a0a0a), url('/img/kira.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    // box-shadow: 0 .3rem .4rem $black-pearl;
    transition: all .4s ease-in-out;

    &:hover {
        // box-shadow: 0 .6rem .6rem $matte-blue2;
        transform: scale(1.2);

    }
}

.manager-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .manager-title {
        color: $color-white;
        font-family: "Comfortaa", cursive;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    .manager-name {
        color: $color-white;
        font-family: "Comfortaa", cursive;
        font-size: 1.6rem;
    }
}

.details-certificate-bg {
    display: none;
    position: fixed;
    padding-top: 26rem;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);

    .details-certificate {
        width: 35%;
        background-color: #000011b3;
        padding: 3rem 4rem;
        border-radius: 2rem;
        margin: auto;

        /* The Close Button */
        .close {
            color: $color-gray;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: $color-gray7;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .title-name-left {
            color: $color-white;
            font-family: "Comfortaa", cursive;
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        .title-specialization,
        .title-certificates,
        .title-social-media {
            color: $color-white;
            font-family: "Comfortaa", cursive;
            margin-top: 2rem;
        }

        .certificates-link-wrapper {
            display: flex;
            flex-direction: column;
        }

        .certificates-link {
            font-size: 1.4rem;
            font-family: "Comfortaa", cursive;
            color: $color-blue2-light;
            margin-bottom: .2rem;

            &:hover {
                text-decoration: none;
                color: $color-blue2-light;
            }
        }

        .social-media-link {
            font-size: 1.4rem;
            font-family: "Comfortaa", cursive;
            color: $color-blue2-light;
            margin-right: 1rem;

            &:hover {
                text-decoration: none;
                color: $color-blue2-light;
            }

            .fa-linkedin,
            .fa-github-square {
                font-size: 1.6rem;
                color: $color-blue-btn2;
            }
        }
    }
}

.manager-left-btn {
    font-size: 1.6rem;
    font-family: 'Comfortaa', cursive;
    padding: .4rem 1rem;
    width: 14rem;
    // position: absolute;
    // left: 12.5%;
    // top: -8rem;
    display: flex;
    justify-content: center;
    margin: 3rem auto 0;
    color: $color-gray;
    background: $color-blue-dark;
    border: none;
    border-radius: 2.1rem;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        height: 6rem;
        width: 1.6rem;
        background: rgba($color-white, .3);
        position: absolute;
        margin-top: -2.2rem;
        // top: -2rem;
        transform: translateX(-8rem) rotate(23deg);
        transition: all 1s;
    }

    &:hover::before {
        transform: translateX(12rem) rotate(23deg);
    }

    &:hover {
        background: $color-blue-dark2;
        box-shadow: 0 .3rem .5rem $color-black;
        transform: translateY(-.3rem);
    }

    /* &:focus {
        outline: none;
    } */
}


.managers-img-wrapper2 {
    display: block;
}


.manager-right-img-container {
    width: 21rem;
    margin-top: -53rem;
}

.manager-right-img {
    width: 100%;
    // border: 1.2rem solid $color-gray;
    border-radius: 100%;
    // background: linear-gradient(transparent 41%, #0a0a0a), url('/img/phanio.png');
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    // box-shadow: 0 .3rem .4rem $black-pearl;
    transition: all .4s ease-in-out;

    &:hover {
        // box-shadow: 0 .6rem .6rem $matte-blue2;
        transform: scale(1.2);
    }
}

.manager-right-btn {
    font-size: 1.6rem;
    font-family: 'Comfortaa', cursive;
    padding: .4rem 1rem;
    width: 14rem;
    // position: absolute;
    // right: 12%;
    // top: -8rem;
    display: flex;
    justify-content: center;
    margin: 3rem auto 0;
    color: $color-gray;
    background: $color-blue-dark;
    border: none;
    border-radius: 2.1rem;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        height: 6rem;
        width: 1.6rem;
        background: rgba($color-white, .3);
        position: absolute;
        margin-top: -2.2rem;
        // top: -2rem;
        transform: translateX(-8rem) rotate(23deg);
        transition: all 1s;
    }

    &:hover::before {
        transform: translateX(12rem) rotate(23deg);
    }

    &:hover {
        background: $color-blue-dark2;
        box-shadow: 0 .3rem .5rem $color-black;
        transform: translateY(-.3rem);
    }

    /* &:focus {
        outline: none;
    } */

}

.managers-gradient-line {
    width: 100%;
    height: 33vh;
    background: linear-gradient(to top, $black-pearl, 40%, rgba($black-pearl, .6), transparent);
    margin-top: -26rem;
}


// .manager-left-img,
// .manager-right-img {
//     width: 100%;
// }
