.navigator-stucture {
    position: relative;
    width: 100%;
    top: 55%;
    transform: translate(-50%, -50%);
    left: 30%;
    .structure-title {
        position: absolute;
        top: -10%;
        right: 18%;
        font-size: 2rem;
        color: $color-gray;
    }
}

.line-navigator-page {
    width: 62%;
    height: 36%;
    position: absolute;
    right: 18%;
    top: -4%;
    border-top: dashed 0.2rem $color-blue5;
    border-right: dashed 0.2rem $color-blue5;
}
.navigator-example {
    height: 23%;
    width: 63%;
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 20;
    .nav-rectangle {
        width: 100%;
        height: 100%;
        background: $color-blue;
        border-radius: 1.6rem;
        padding: 0.5rem;
    }
}

.bg-shape-blue {
    position: absolute;
    top: 7%;
    left: 20%;
    height: 19%;
    width: 22%;
    background: $color-blue2;
    border-radius: 1.2rem;
}
