// Projects Bg White top
.projects-bg-white {
    width: 100%;
    height: 10rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255), transparent);
    position: absolute;
    margin-top: 10rem;
    // z-index: 2;
}

// Section Projects
.section_projects {
    width: 100%;
    height: 35rem;
    background-image: linear-gradient(to top, rgba(255, 255, 255) 17%, #e8e4e46e 36%),
        linear-gradient(to bottom, rgba(255, 255, 255) 12%, #f9f9f973 36%),
        url('/img/c6.jpg');
    background-position: top 119% left 0px;
    background-size: 100%;
}

.section-projects-container {
    height: auto;
    width: 90%;
    margin: 12rem auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wavesBg-cards-wrapper {
    width: 22rem;
    position: absolute;
    left: 0;
    top: 73%;
    // z-index: -1;
}

.wavesBg-cards {
    width: 100%;
}


.introWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80%;
    margin: auto;
    position: relative;
}

.introContainer-img {
    display: flex;
    flex-wrap: wrap;
    // position: relative;
    // right: -9%;
    margin-left: 8rem;
}

.intro_wrapper-img,
.intro_wrapper-img2,
.intro_wrapper-img3,
.intro_wrapper-img4,
.intro_wrapper-img5,
.intro_wrapper-img6 {
    display: block;
    width: 24rem;
    height: 17rem;
    margin: 1.2rem;
    // order: 2;
    border-radius: 3rem;
    // background: url('/img/site1.png');
    background-size: 100%;
    background-position: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:hover {
        background-size: 120%;
        -webkit-filter: drop-shadow(0 .5rem .5rem $black-pearl);
        filter: drop-shadow(0 .5rem .5rem $black-pearl);
    }
}

.hover-opacity {
    opacity: .2;
}

/* Cu poza normala tag <img> in HTML

.intro_wrapper-img {
    display: block;
    float: left;
    width: 25%;
    padding: 1rem;
    // order: 2;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 .5rem .5rem $black-pearl);
    }
} */

// .projects_intro {
//     margin-right: 9rem;
// }


// Cu poza tag <img> in HTML
.introProjects-img {
    width: 100%;
    height: 18rem;
    border-radius: 3rem;
    transition: transform .3s;

    &:hover {
        transform: scale(1.1);
    }
}

.heading-container-projects {
    margin-top: -12.7rem;
}

.heading_intro {
    // width: 33rem;
    font-size: 3.5rem;
    text-align: center;
    color: $color-gray;
    text-shadow: 0 .3rem .4rem $black-pearl;
    font-family: 'Comfortaa', cursive;
    margin-top: .7rem;
}

.heading_intro-second {
    font-size: 3.5rem;
    text-align: center;
    color: $color-gray;
    text-shadow: 0 .3rem .4rem $black-pearl;
    font-family: 'Comfortaa', cursive;
    margin-top: -1.3rem;
}

.descripton_intro {
    // display: block;
    font-size: $default-font-size;
    color: $black-shaft;
    width: 50rem;
    margin-top: 2.1rem;
    text-align: left;
}



.carousel_Projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    overflow: hidden;
    margin: auto;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    // margin-top: 8rem;
}


/* .wrap-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 60rem;
    width: 60rem;
    border-radius: 2.1em;
} */

/* .wrap-projects .projects {
    // transition: all .3s ease-out;
    // background: $matte-purple;
    // border-radius: 2.1rem;
    display: block;

} */


/* .wrap-projects .projects .projects-img {
    border-radius: 2.1rem;
    width: 40rem;
    height: 26rem;
    -o-object-fit: cover;
    object-fit: cover;
    // object-position: 50% 10%;
    -webkit-box-shadow: 0 .2rem .9rem .1rem $color-black;
    box-shadow: 0 .2rem .9rem .1rem $color-black;
} */


.breaking-line-projects {
    width: 50rem;
    height: .7rem;
    background: linear-gradient($color-gray7, $color-gray6);
    border-radius: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
}

.rolling-ball-projects {
    width: 17rem;
    height: .3rem;
    background: radial-gradient(#65cde8, #60f5b6);
    border-radius: 1rem;
    position: absolute;
    left: 40%;
    margin-top: .2rem;
    animation: rolling-ball 4s linear 1s infinite alternate;
}

@keyframes rolling-ball {
    0% {
        transform: translateX(-20rem);
    }

    100% {
        transform: translateX(13rem);
    }
}
