.title-app-projects {
    font-size: 7rem;
    font-family: Futura;
    font-weight: 500;
    color: $color-gray;
}
.desc-container-app-projects {
    margin-left: 9.5rem;
    padding-right: 9rem;
    .description {
        font-size: 1.4rem;
        width: 85%;
        color: $color-gray3;
        line-height: 1.8rem;
    }
}
.line {
    width: 3rem;
    height: 0.1rem;
    background: $color-gray2;
    margin: 2rem 0rem 1rem 0rem;
}

.projects-app-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -10%;
}

.shape-bg-project1 {
    height: 15%;
    width: 11%;
    border-radius: 1.6rem;
    background: $color-sass;
    position: absolute;
    top: 10%;
    left: 26%;
}
.project-image1 {
    width: 22%;
    height: 34%;
    background: $color-blue4;
    border-radius: 4rem;
    position: absolute;
    top: 14%;
    left: 29%;
}
.shape-bg-project2 {
    height: 15%;
    width: 11%;
    border-radius: 1.6rem;
    background: $color-blue3;
    position: absolute;
    top: 10%;
    right: 10%;
}
.project-image2 {
    width: 23%;
    height: 54%;
    background: $color-gray3;
    border-radius: 4rem;
    position: absolute;
    top: 14%;
    right: 13%;
}
.shape-bg-project3 {
    height: 15%;
    width: 11%;
    border-radius: 1.6rem;
    background: $color-blue5;
    position: absolute;
    bottom: 2%;
    left: 32%;
}
.project-image3 {
    width: 23%;
    height: 39.5%;
    background: $color-blue3;
    border-radius: 4rem;
    position: absolute;
    bottom: 7%;
    left: 34.5%;
}
