/* Burger Menu Lines */
@media only screen and (max-width: 850px) {

    .burger-icon {
        display: block;
    }

    /* Gradient NAV */
    #gradient-nav {
        height: 21rem;
    }

    /* HEADER MAIN */
    #main-header {
        display: flex;
        // top: 4%;
    }

    .header-main {
        height: 16rem;
    }

    /* LOGO CONTAINER 850px */
    .logoImg {
        height: 90%;
        animation: none;
    }

    .logoImg23 {
        height: 35%;
        animation: none;
    }

    /* First NAV BAR DESKTOP */
    .nav-ul-left,
    .nav-ul-right {
        display: none;
    }

    .logoContainer {
        margin-top: 1rem;
    }

    /* END -- NAV BAR DESKTOP */

    /* BURGER NAV BAR */
    .burger-nav {
        display: block;
        // width: 90%;
        background: linear-gradient(227deg, rgba($color-blue, .7), rgba($color-blue-dark, .7));
        width: 40%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        border-right: .15rem solid $matte-purple;
        transform: translateX(-50rem);
        transition: .5s ease-in-out;
    }

    .burger-nav.show {
        // display: block;
        transform: translateX(0);
    }

    .nav-ul-burger {
        display: block;
        list-style: none;
        transition: transform 1s ease;
    }

    .nav-li-burger {
        padding: 1rem 2rem;
    }

    .nav-link-burger {
        color: $color-white;
        font-size: 1.8rem;
        text-decoration: none;

        &:hover {
            color: darken($color-white, 20%);
            text-decoration: none;
        }
    }

    .burger-icon {
        font-size: 3rem;
        color: $color-white;
        border: none;
        background: none;
        width: 4rem;
        height: 4rem;
        margin: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        outline: none;
    }

    /* END -- BURGER NAV BAR */

    // WELCOME Section 850px
    .heading-welcome-first {
        font-size: 5rem;
    }

    .heading-welcome-first2 {
        font-size: 1.5rem;
    }

    .heading-welcome-second {
        font-size: 3rem;
    }

    .heading-welcome-third {
        font-size: 2.4rem;
        text-align: center;
    }

    .bubbles-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: -16rem auto 0;
    }

    .bubble-yellow-wrapper {
        width: 21rem;
        // margin-left: -5rem;
    }

    .bubble-yellow-wrapper2 {
        right: 35%;
        top: 25rem;
        width: 2rem;
    }

    .bubble-yellow-wrapper3 {
        right: 42%;
        top: 22rem;
        width: 1rem;
    }

    .bubble-blue-wrapper {
        width: 21rem;
        margin-right: 2rem;
    }

    .bubble-blue-wrapper2 {
        right: 42%;
        top: 19rem;
        width: 2rem;
    }

    .bubble-blue-wrapper3 {
        right: 44%;
        top: 16.5rem;
        width: 1rem;
    }

    // PROJECTS Section 768px
    .section_projects {
        height: auto;
        // width: 100vw;
        margin: 12rem auto 0;
        display: grid;
    }

    .wavesBg-cards-wrapper {
        display: none;
    }

    .introWrapper {
        display: grid;
        width: 90%;
    }

    .heading_intro {
        text-align: center;
    }

    .introContainer-img {
        grid-template-columns: 1fr 1fr;
        // margin: auto;
    }


    // Section AdSense Google
    .empty-space-ads {
        top: 69rem;
    }

    // PROJECTS Section 2 768px
    .section_projects2 {
        display: flex;
    }

    .intro2Wrapper {
        display: grid;
    }

    .heading_intro2 {
        text-align: center;
        margin-bottom: 3rem;
        text-shadow: 0 .3rem .4rem $black-pearl;
    }

    .introContainer2-img {
        margin-left: 0;
    }

    .intro2_wrapper-img {
        margin: 1.2rem auto;
    }

    .intro2_wrapper-img2 {
        margin: 1.2rem auto;
    }

    // App Section 768px
    /* Images Trail App Sign up / Log in */
    .app-img-resp-container {
        display: flex;
        width: 90%;
        margin: 6rem auto 3rem;
    }

    .sign-up-wrapper {
        width: 18rem;
        margin: 1.2rem;
    }

    .sign-up-img {
        width: 100%;
    }

    .sign-up-form-wrapper {
        width: 19rem;
        margin: -2rem 2rem;
    }

    .sign-up-form-img {
        width: 100%;
    }

    .login-app-wrapper {
        width: 18rem;
        margin: 1.2rem;
    }

    .login-app-img {
        width: 100%;
    }

    /* END Trail App Sign up / Log in */

    #intro-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heading-title-app {
        font-size: 4.6rem;
        text-align: center;
        margin-top: 8rem;
    }

    .description-intro {
        margin: 2rem auto 0;
    }

    .modal-bg-app {
        display: none;
    }

    .cta {
        padding: 2.1rem 0rem 0rem 0rem;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

    .phone-container {
        display: none;
    }

    #bm {
        margin: 0;
        display: none;
    }

    .waves {
        width: 30rem;
        transform: translateX(30%);
        margin: auto;
        display: none;
    }

    .phone-stand {
        width: 100%;
        margin-left: -10.5rem;
        margin-top: -2rem;
        display: none;
    }

    .lines,
    .plasa {
        display: none;
    }

    // AdSense Google Ads
    .empty-space-ads2 {
        top: 260rem;
    }

    // HOSTING Section 768px
    #hosting-section {
        margin-top: 16rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .hosting-container {
        text-align: center;
        margin: 0;
        position: relative;
        left: 0;
        top: 0;
    }

    .hosting-heading {
        margin: 0;
    }

    .hosting-and {
        left: 87%;
        margin: 0;
    }

    .hosting-heading2 {
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .hosting-img-container {
        display: flex;
        justify-content: space-around;
        margin-top: 11rem;
        margin-bottom: 10rem;
    }

    .wrapper-data-host-img,
    .wrapper-host-img,
    .wrapper-domain-host-img {
        background: linear-gradient(227deg, $color-blue-dark, $color-blue-dark2);
        border-radius: 3rem;
        width: 22rem;
        height: 30rem;
        position: static;
        animation: none;

        &:hover {
            transform: none;
        }
    }

    .data-host-img {
        width: 74%;
        display: flex;
        margin: -3rem auto 4rem;
    }

    .host-title {
        display: flex;
        color: $color-gray;
        justify-content: center;
        text-decoration: underline;
    }

    .data-host-btn,
    .host-btn,
    .domain-host-btn {
        font-size: $default-font-size;
        padding: .7rem 4rem;
        display: flex;
        margin: 2rem auto;
        position: static;

        &::before {
            background: none;
        }
    }

    .host-img {
        width: 74%;
        display: flex;
        margin: -3rem auto 5rem;
    }

    .domain-host-img {
        width: 68%;
        display: flex;
        margin: -3rem auto 4rem;
    }

    .domain-bg-wire {
        display: none;
    }

    // ADS Section 768px
    #section-ads {
        // width: 100vw;
        display: block;
    }

    .container-ads {
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .ads-shape-bg {
        background: linear-gradient(227deg, rgba($color-blue-dark2, .6), rgba($color-blue-dark, .6));
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        position: static;
        margin-top: 0;
        border-radius: 0;
    }

    .wrapper-fb-ads {
        width: 8rem;
        height: 8rem;
        margin: auto;
        position: static;
    }

    .wrapper-insta-ads {
        width: 8.8rem;
        height: 8.8rem;
        /* text-align: center; */
        margin: auto;
        position: static;
    }

    .wrapper-twitter-ads {
        width: 7.8rem;
        height: 7.8rem;
        margin: auto;
        position: static;
    }

    .wrapper-youtube-ads {
        width: 11.5rem;
        /* height: 10.5rem; */
        margin: auto;
        position: static;
    }

    .wrapper-google-ads {
        width: 8.2rem;
        height: 8.2rem;
        margin: auto;
        position: static;
    }

    .container-heading-ads {
        // padding-left: 0;
        // order: 2;
        display: none;
    }

    .ads-gradient-line {
        order: 3;
    }

    .wrapper-heading-ads {
        /* position: absolute; */
        /* left: 44%; */
        text-align: center;
        margin-bottom: 3rem;
    }

    .heading-ads-line {
        margin: 2rem auto 0;
    }

    // .wrapper-description-ads {
    //     width: 90vw;
    //     margin: 3rem auto;
    // }

    // Price Cards Section 850px

    .cardRows1 {
        margin-top: -26rem;
    }

    .purpleShape-card,
    .blueShape-card {
        width: 60%;
    }

    #btnMore-Card,
    #btnMore-Card2 {
        margin-top: 0;
    }

    .btnMore-price1,
    .btnMore-price2 {
        width: 80%;
    }

    .titlePrice1 {
        font-size: 3.6rem;
        margin-top: -45rem;
        position: absolute;
        left: 38.5%;
    }

    .titlePrice2 {
        font-size: 3.6rem;
        margin-top: -45rem;
        position: absolute;
        right: 38.5%;
    }

    .blueRow1,
    .blueRow2,
    .blueRow3,
    .purpleRow1,
    .purpleRow2,
    .purpleRow3 {
        width: 19rem;
        margin: 2.4rem 0;
    }

    .titleRows1,
    .titleRows2,
    .titleRows3,
    .titleRows4,
    .titleRows5,
    .titleRows6 {
        font-size: 1.4rem;
        margin-top: -5.5rem;
    }

    .price-gradient-line {
        margin-top: -9rem;
    }

    // LLC Business Section 850px
    .llc-img-wrapper {
        width: 16rem;

        .llc-business-btn {
            margin-left: 12%;
            width: 14rem;
        }
    }

    .temple-img-wrapper {
        width: 8rem;
        left: 45%;
    }

    .heading-state-title {
        font-size: 3.5rem;
        left: 45.7%;
        margin-top: 14rem;
    }

    .heading-state-title2 {
        font-size: 3rem;
        left: 41.5%;
        margin-top: 19.2rem;
    }

    .heading-state-title3 {
        font-size: 1.8rem;
        letter-spacing: 1rem;
        left: 42.1%;
        margin-top: 23rem;
    }

    .state-img-wrapper {
        width: 34rem;
    }

    .state-business-btn {
        left: 1.1%;
        width: 14rem;
    }

    .money-img-wrapper {
        width: 17rem;
    }

    .money-business-btn {
        width: 14rem;
    }

    .business-gradient-line {
        height: 35vh;
    }


    // MANAGERS Section 850px
    .manager-left-img {
        width: 21rem;
        border: none;
    }

    .manager-right-img {
        height: 19rem;
        width: 23rem;
        border: none;
    }

    .manager-left-btn {
        left: -3%;
        top: -2rem;
    }

    .manager-right-btn {
        right: -2%;
        top: -2rem;
    }

    .managers-heading {
        padding: 0;
    }

    .manager-left-img-container {
        margin-top: -43rem;
    }

    .manager-right-img-container {
        margin-top: -44rem;
    }

    .managers-img-container {
        margin-top: -20rem;
    }

    .managers-gradient-line {
        margin-top: -34rem;
    }

    // OUR TEAM Section 850px
    #our-team-main {
        padding-bottom: 4rem;
    }

    .team-city-img-wrapper {
        left: 67%;
    }

    .team-city-img {

        &:hover {
            transform: none;
        }
    }

    .our-team-btn {
        margin: -30rem auto 0;
    }

    .ourteam-gradient-line {
        margin-top: 0;
        background: none;
        height: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}
