@media only screen and (min-width: 2560px) {
    .phoneApp-container {
        right: 4%;
    }
    .phoneApp {
        width: 29%;
    }
    .square-blue1 {
        width: 13%;
        height: 11%;
        right: -4%;
    }
    .square-blue2 {
        width: 13%;
        height: 11%;
        right: 21%;
    }
    .rectangle-bg {
        width: 16%;
        right: 11%;
    }
}
