@media only screen and (min-width: 2560px) {
    .profile-image1 {
        width: 21%;
    }
    .profile-image2 {
        width: 8.5%;
    }
    .profile-image3 {
        width: 13%;
    }
    .profile-image4 {
        width: 10%;
    }
    .profile-image5 {
        width: 7%;
    }

    // FOUNDERS PAGE
    .shape-founders-bg {
        height: 50%;
    }
    .founders-image {
        height: 32%;
    }
    // TEAM PAGE
    .team-image {
        height: 22%;
    }
}
